<template>
  <div>
    <v-card
      elevation="10"
      outlined
      class="ma-10 mx-lg-auto text-left"
      max-width="400"
    >
      <v-img class="white--text" height="300px" :src="char.image"> </v-img>
      <v-card-title>{{ char.name }}</v-card-title>
      <v-card-subtitle>Location: {{ char.location.name }}</v-card-subtitle>
      <v-card-text>
        Status: {{ char.status }}
        <br />
        Gender: {{ char.gender }}
      </v-card-text>
    </v-card>
    <v-btn class="green accent-4" @click="goBack">Назад</v-btn>
  </div>
</template>

<script>
export default {
  async asyncData({ params, $axios }) {
    const char = await $axios.$get(
      `https://rickandmortyapi.com/api/character/${params.slug}`
    )
    return { char }
  },
  data() {
    return {
      char: '',
    }
  },
  methods: {
    goBack() {
      return this.$router.go(-1)
    },
  },
}
</script>

<style scoped></style>
