<template>
  <div>
    <h2>Rick and Morty characters</h2>
    <v-col>
      <v-card
        v-for="char in results"
        :key="char.id"
        elevation="10"
        class="ma-10 mx-lg-auto"
        max-width="400"
        outlined
      >
        <NuxtLink :to="{ name: 'character-slug', params: { slug: char.id } }">
          <v-img class="white--text" height="300px" :src="char.image"></v-img>
        </NuxtLink>
        <v-card-title>
          {{ char.name }}
        </v-card-title>
      </v-card>
    </v-col>
    <client-only>
      <infinite-loading
        v-if="info && info.next"
        spinner="spiral"
        @infinite="infiniteScroll"
      ></infinite-loading>
    </client-only>
  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import axios from 'axios'

export default {
  components: {
    InfiniteLoading,
  },
  async asyncData({ $axios }) {
    const characters = await $axios.$get(
      'https://rickandmortyapi.com/api/character'
    )

    const { info, results } = characters

    return { info, results }
  },
  data() {
    return {
      info: null,
      results: [],
    }
  },
  methods: {
    infiniteScroll($state) {
      setTimeout(() => {
        if (this.info.next) {
          axios.get(this.info.next).then((response) => {
            this.info = response.data.info
            if (response.data.results.length) {
              response.data.results.forEach((item) => this.results.push(item))
            }
            $state.loaded()
          })
        }
      }, 500)
    },
  },
}
</script>
